<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Documents</title>
	<!-- ======================**CSS**===================== -->
	<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/jquery-ui-1.12.1/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/DataTables/datatables.min.css" />
	<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/DataTables/DataTables-1.10.15/css/dataTables.bootstrap4.min.css" />
	<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/ionicons-2.0.1/css/ionicons-2.0.1.min.css" />
	<!-- CORE -->
	<link rel="stylesheet" type="text/css" href="/projetx/demo/css/core.css">
	<!-- CURRENT INTERFACE CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="/projetx/demo/css/documentsProjet.css"> -->
</head>

<body>

	<!-- NAVBAR INCLUDE -->
	<span id="navInc"></span>

	<!-- INTERFACE CONTAINER -->
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-inverse card-primary text-white">
				<h3>Documents de tous les projets</h3>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-1" style="margin-top:70px">
					<div class="card">
						<div class="card-header bg-primary text-white">
							Pokemon GO
							<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modal_ajout_document" id="ajout_document">+</button>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Charte graphique
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Charte graphique
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Analyse financière
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Maquette V1
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 offset-md-1" style="margin-top:70px">
					<div class="card">
						<div class="card-header bg-primary text-white">
							Friends GO
							<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modal_ajout_document" id="ajout_document">+</button>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Charte graphique
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Charte graphique
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Analyse financière
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Maquette V1
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-1" style="margin-top:70px">
					<div class="card">
						<div class="card-header bg-primary text-white">
							Déménagement
							<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modal_ajout_document" id="ajout_document">+</button>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Charte graphique
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Charte graphique
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Analyse financière
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Maquette V1
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 offset-md-1" style="margin-top:70px">
					<div class="card">
						<div class="card-header bg-primary text-white">
							Anniversaire surprise
							<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modal_ajout_document" id="ajout_document">+</button>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Charte graphique
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Charte graphique
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Analyse financière
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-block">
										Maquette V1
										<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal_suppression_document" id="suppression_document">-</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- Modale d'ajout de document-->

	<div class="modal fade" id="modal_ajout_document">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header text-white" style="background-color: #007bff">
					<h5 class="modal-title">Ajout de document au projet</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" id="closeCross">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group row">
							<button type="button">Parcourir les dossiers</button>
							<input type="text" class="form-control col-md-8" id="document">
						</div>

						<div class="modal-footer col-md-12">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" id="reset">Fermer sans uploader</button>
							<button type="reset" class="btn btn-danger">Reset</button>
							<button type="button" class="btn btn-success">Uploder</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<!-- Modale de suppression d'un document-->
	<div class="modal fade" id="modal_suppression_document">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header text-white" style="background-color: #007bff">
					<h5 class="modal-title">Suppression de document</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" id="closeCross">&times;</span>
            </button>
				</div>
				<div class="modal-body">
					<form method="post" action="traitement.php">
						<p>Etes-vous sur de vouloir supprimer le document X?</p>
					</form>
					<div class="modal-footer col-md-12">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" id="reset">Fermer sans supprimer</button>
						<button type="button" class="btn btn-danger">Suppression</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER INCLUDE -->
	<span id="footerInc"></span>

	<!-- ======================**JS**===================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/projetx/demo/librairies/jQuery-3.2.1/jQuery-3.2.1.min.js" type="text/javascript"></script>
	<script src="/projetx/demo/librairies/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/projetx/demo/librairies/DataTables/datatables.min.js" type="text/javascript"></script>
	<script src="/projetx/demo/librairies/DataTables/DataTables-1.10.15/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
	<script src="/projetx/demo/librairies/moment.js-2.18.1/moment-with-locales-2.18.min.js" type="text/javascript"></script>
	<script src="/projetx/demo/librairies/tether-1.4.0/tether-1.4.0.min.js" type="text/javascript"></script>
	<script src="/projetx/demo/librairies/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- CORE -->
	<script src="/projetx/demo/js/core.js" type="text/javascript"></script>

	<!-- CURRENT INTERFACE JS -->
	<!-- <script src="/projetx/demo/js/documentsProjet.js"></script> -->

</body>

</html>
