<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Template Model</title>
		<!-- ======================**CSS**===================== -->
		<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/jquery-ui-1.12.1/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/DataTables/datatables.min.css"/>
		<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/DataTables/DataTables-1.10.15/css/dataTables.bootstrap4.min.css"/>
		<link rel="stylesheet" type="text/css" href="/projetx/demo/librairies/ionicons-2.0.1/css/ionicons-2.0.1.min.css"/>
		<!-- CORE -->
		<link rel="stylesheet" type="text/css" href="/projetx/demo/css/core.css">
		<!-- CURRENT INTERFACE CSS -->
		<link rel="stylesheet" type="text/css" href="/projetx/demo/css/projets.css">
	</head>
	<body>

		<!-- NAVBAR INCLUDE -->
		<span id="navInc"></span>
		<!-- INTERFACE CONTAINER -->

		<div class="container-fluid">
	        <table id="tableProjets">
	                <thead>
	                    <tr>
	                        <td>Logo</td>
	                        <td>Nom</td>
	                        <td>Début</td>
	                        <td>Fin</td>
	                        <td>Avancement</td>
	                        <td>Equipes</td>
	                        <td>Interaction</td>
	                    </tr>
	                </thead>
	        </table>
	    </div>
	    
		<!-- MODAL INCLUDE -->
		<span id="projectCreation"></span>
		<span id="projectModification"></span>
		<!-- FOOTER INCLUDE -->
		<span id="footerInc"></span>

		<!-- ======================**JS**===================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/projetx/demo/librairies/jQuery-3.2.1/jQuery-3.2.1.min.js" type="text/javascript"></script>
		<script src="/projetx/demo/librairies/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
		<script src="/projetx/demo/librairies/DataTables/datatables.min.js" type="text/javascript"></script>
		<script src="/projetx/demo/librairies/DataTables/DataTables-1.10.15/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
		<script src="/projetx/demo/librairies/moment.js-2.18.1/moment-with-locales-2.18.min.js" type="text/javascript"></script>
		<script src="/projetx/demo/librairies/tether-1.4.0/tether-1.4.0.min.js" type="text/javascript"></script>
		<script src="/projetx/demo/librairies/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js" type="text/javascript"></script>
		<!-- CORE -->
		<script src="/projetx/demo/js/core.js" type="text/javascript"></script>
		<!-- CURRENT INTERFACE JS -->
		<script src="/projetx/demo/js/projets.js"></script>
	</body>
</html>
