<footer class="footer">
	<div class="container text-center">
		<nav class="navbar navbar-toggleable-sm navbar-light bg-faded fixed-bottom ">

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/projetx/demo/views/mentionsLegales.html">Mentions Legales</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/projetx/demo/views/nousContacter.html">Nous Contacter</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">A propos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/sitemap">Sitemap</a>
            </li>
        </ul>
    </div>
</nav>
	</div>
</footer>
